<header>
    <div class="container">
        <a href="/">
            <h1>Weather App</h1>
        </a>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </nav>
    </div>
    <hr>
    <h1>{{title}}</h1>
</header>